
.sidebar-nav{
	padding: 0;
	list-style: none;
    width: 220px;
    float: left;
    margin-left: -40px;
    height:auto;
    margin-bottom: -19px;
}
.sidebar-nav li {
  background-color:skyblue;
  border: none;
  line-height: 3.4rem;
  border-bottom: 1px solid white;
  margin-left: 0px;
  text-align: center;
  

}
.sidebar-nav li a{
 display: block;
  text-decoration: none;
  color: #e1ffff;
}

.sidebar-nav li :hover{
	 border-left: 3px solid #e1ffff;
  background-color:#0084ff;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  -ms-transition: all .6s ease;
  transition: all .6s ease;
}
.sidebar-nav ul :not(collapsed) .arrow:before,
.sidebar-nav li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}


.sidebar-nav .sub-menu li.active,
.sidebar-nav li .sub-menu li.active {
  background-color: blue;
}
.sidebar-nav .sub-menu li,
.sidebar-nav ul .sub-menu li {
  background-color:gray;
  border: none;
  text-align: center;

  line-height: 3.4rem;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
  	padding: 0;
	list-style: none;

}
.sidebar-nav .sub-sub-menu li,
.sidebar-nav ul .sub-sub-menu li {
  background-color:#FF2AAA;
  border: none;
  text-align: center;

  line-height: 3.4rem;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
    padding: 0;
  list-style: none;

}

.sub-menu li :hover{
	 border-left: 3px solid #e1ffff;
  background-color: green;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  -ms-transition: all .6s ease;
  transition: all .6s ease;

}
.sub-sub-menu li :hover{
   border-left: 3px solid #e1ffff;
  background-color:#00FF00;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  -ms-transition: all .6s ease;
  transition: all .6s ease;

}

.sidebar-nav .sub-menu li:hover,
.sidebar-nav li .sub-menu li:hover {
  background-color: #020203;
}
.sidebar-nav li .sub-menu li a,
.sidebar-nav ul .sub-menu li a{
    display: block;
    padding-left: 20px;
}
.sidebar-nav .sub-menu li a i ,
.sidebar-nav li .sub-menu lia i {
    padding-right: 10px !important;
}

.sidebar-nav li a i {
  padding-left: 10px;
  width: 30px;
  padding-right: 20px;
}
.top{
margin-top:0px;
margin-left:5px;
margin-right:5px;
position:fixed;
width:100%;
height:auto;

}